* {
    padding: 0;
    margin: 0;
}
.container {
    width: 600px;
    margin: 0 auto;
    background:green;
    padding:20px;
}

.row {
    display: flex;
}
[class = "col-"] {
    display: flex;
    height: 40px;
    background:red;
    border: 1px solid white;
    box-sizing: border-box;
}
.col-hidden {
    background:green;
}
.col-1 {
    width: calc((1/12) * 100%);
}
.col-2 {
    width: calc((2/12) * 100%);

}
